:root {
    --max-phone-screen-width: 479px;
    --max-tablet-screen-width: 767px;
    --max-pc-screen-width: 991px;
    --min-pc-screen-width: 1076px;

    --main-background: #F2F2F2;
    --navi-bar-background: #EFC69B;


    --border-radius: 5px;
}