@import './constants.css';

.account-setting-content-container{
    padding: 20px;
    width: 100%;
    min-height: var(--content-min-height);
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    min-width: 320px;
    background-color: var(--main-background-dark);
}

.grouped-settings-container{
    border-radius: 15px;
    background-color: var(--inner-container-colour);
    border: 1px solid var(--text-field-grey-border);
    padding: 10px;
    margin: 10px;
    display: inline-block; 
    min-width: 265px;
    width: 50%;
    
    .section-header {
        color: var(--accent-1);
        line-height: 2em;
        font-size: x-large;
        font-weight: bold;
    }

    .section-divider {
        width: 80%;
        height: 2px;    
        background-color: var(--accent-2);
        margin: 10px auto; 
        margin-bottom: 20px;
    }
    
    form{
        align-items: center;
        display: inline-block;
    }
}

.text-input-container {
    max-width: 300px;
    align-items: start;
    text-align: left;
    label {
        display: block;
        align-self: flex-start;
        margin-bottom: 5px;
        font-size: 0.9em;
        color: var(--text-label-color);
    }

    input {
        width: 100%;
        padding: 12px 15px;
        margin-bottom: 15px;
        background-color: var(--text-field-gray);
        border: 1px solid var(--text-field-grey-border);
        border-radius: 5px;
        font-size: 1em;
        transition: border-color 0.3s, box-shadow 0.3s;

        &:focus {
            border-color: var(--accent-1);
            box-shadow: 0 0 8px var(--accent-1-glow);
            outline: none;
        }
    }
}

.checkbox-input-container{
    display: inline-block;
    align-items: center;
    text-align: left;

    label {
        display: block;
        align-self: flex-start;
        margin-bottom: 5px;
        font-size: 0.9em;
        color: var(--text-label-color);
    }

    input {
        margin-left: 20%;
        width: 25px;
        height: 25px;
    }
}

.submit-button-container {
    label{
        color: var(--accent-1);
        line-height: 2em;
        font-size: large;
        font-weight: bold;
    }

    button{
        margin-top: 10px;
        max-width: 150px;
        width: 50%;
        padding: 15px;
        background: var(--accent-1-glow);
        color: white;
        font-size: 1em;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            transition: background 0.3s, box-shadow 0.3s;
            box-shadow: 0 0 10px var(--accent-1-glow);
        }
    }
}

.sign-out-button-container {
    min-width: 265px;
    width: 50%;
    display: inline-block; 
    padding: 10px;
    margin: 10px;
}

.sign-out-button-container .submit-button-container {
    max-width: 700px;
}

.notification-preference-title{
    color: var(--text-label-color);
    line-height: 2em;
    font-size: large;
    font-weight: bold;
}