:root {
    --max-phone-screen-width: 479px;
    --max-tablet-screen-width: 767px;
    --max-pc-screen-width: 991px;
    --min-pc-screen-width: 1076px;

    --navi-bar-height: 110px;

    --main-background:      #161415;
    --main-background-mid :   #191818;
    --main-background-ligher: #1B1B1B;
    --navi-bar-background:  #EFC69B;
    --nyan-cat-background:  #043264;
    
    --border-radius: 5px;
}